body {
    background-color: #add8e6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-links,
ul,
ol,
p {
    font-size: 20px;
}

.home-img {
    height: auto;
    width: 300px;
}

ol li ul li {
    background-color: #9acd32;
    display: inline;
}

h4 {
    font-size: 20px;
}